html{
    
    background-color:#FBEAEB ;
    
}
.container{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style:inherit;
    border: 10px solid #2F3C7E;
    background-color:#2F3C7E;
    color:#FBEAEB;
}
